.flex_container{
	display:flex;
}
.all_rules{
	flex: 1 1 70%;
	margin-left: 30px;
}
article{
	position: relative;
	margin: 35px 0;
	padding: 10px 35px;
	background: linear-gradient(180deg, #939393, #83805e);
	border-left: 5px solid transparent;
	box-shadow: 0 10px 15px #282828;
}
.active_article{
	border-left: 5px solid #d79659;
}
.leson_number{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0px!important;
}

.leson_number a{
	text-decoration: none;
	color: #000;
}

.leson_number a:hover{
	color: #af0;
}

.article_title{
	text-align: center;
}

.article__block{
	margin: 15px 0 10px 0;
	padding: 10px 35px;
  box-shadow: 0 7px 15px #282828;
	background-color: #ffffff2b;
}

.section__list{
	margin: 0px auto;
	list-style-type: revert;
}

.section__list-element{
	padding-left: 1rem;
}

.section__list-element{
	list-style-type: revert;
}

.description,
.construction{

}

.big_size{
	font-size: 1.5rem;
	vertical-align: middle;
	color: rgb(255, 255, 255);
}

.line_text{
    line-height: 2.3rem;
    overflow-wrap: break-word;
}

.red_text{
	color: #640000;
}

.container_nav{
	flex: 1 1 20%; 
	height: 90vh;
	position: sticky;
	top: 50px;
	margin-top: 30px;
	overflow-y: scroll;
	overflow-x: clip;
	transition: width .2s, top .2s;
	background: #ccc;
	box-shadow: inset 0 0 15px;
	z-index: 9999;
}
/*.container_nav:hover{
	width: 490px;
}
*/
.menu_list{
	width: 100%;
	margin: 30px 0px 5px 0;
  right: 100px;
	cursor: pointer;
	transition: width .2s;
}

.menu_element{
	margin: 5px 0;
  padding: 7px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #4f4f4f;
  color: #fff;
}

.menu_element:hover{
    background: #6e6e6e;
    /*color: rgb(228, 160, 0);*/
}
.active_menu_element{
    background: #d79659;
}

.menu_caller{
	display: none;
}



@media screen and (max-width: 750px){
	.wraper_tables{
		width: 100%;	
	}
	.flex_container{
		display: flex;
		flex-direction: column;
	}
	.all_rules{
		margin-left: 0;
	}
	article{
		padding: 10px 15px;
	}
	.container_nav{
		position: fixed;
		width: 96%;
		height: 100vh;
		top: -100%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 0;
		padding: 15px;
	}
	.container_nav_active{
		top: 50%;
	}
	.menu_caller{
		display: block;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100px;
		height: 100px;
		margin: 10px;
		border-radius: 40%;
		background: #c700ff33;
		color: #fff;
		cursor: pointer;
		z-index: 9999;
	}
	.menu_caller_active{
		background: #b128b6;
	}
	.menu_caller_text_container{
		position: relative;
		width: 100%;
		height: 100%;
	}
	.text_menu{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
