article{
	position: relative;
	margin: 35px 0;
	padding: 10px 35px;
	background: linear-gradient(180deg, #939393, #83805e);
	box-shadow: 0 10px 15px #282828;
}
.leson_number{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0px!important;
}

.leson_number a{
	text-decoration: none;
	color: #000;
}

.leson_number a:hover{
	color: #af0;
}
.article_title{
	text-align: center;
}

.article__block{
	margin: 15px 0 10px 0;
	padding: 10px 35px;
  box-shadow: 0 7px 15px #282828;
	background-color: #ffffff2b;
}

.section__list{
	margin: 0px auto;
}
.section__list-element{
	padding-left: 1rem;
}

.description,
.construction{

}

.big_size{
	font-size: 1.5rem;
	vertical-align: middle;
	color: rgb(255, 255, 255);
}

.line_text{
    line-height: 2.3rem;
    overflow-wrap: break-word;
}

.red_text{
	color: #f22;
}

.menu_list{
	width: 70px;
    position: relative;
    right: 100px;
	cursor:pointer;
	transition: width .2s;
}

.menu_list:hover{
	width: 270px;
}

.menu_element{
	margin: 5px 0;
    padding: 7px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #4f4f4f;
    color: #fff;
}

.menu_element:hover{
    background: #6e6e6e;
    color: rgb(228, 160, 0);
}