.flex_container{
	display:flex;
}
.all_rules{
	flex: 1 1 70%;
	margin-left: 30px;
}

article{
	position: relative;
	margin: 35px 0;
	padding: 10px 35px;
	background: linear-gradient(180deg, #939393, #83805e);
	border-left: 5px solid transparent;
	box-shadow: 0 10px 15px #282828;
}
.active_article{
	border-left: 5px solid #d79659;
}
.leson_number{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0px!important;
}

.leson_number a{
	text-decoration: none;
	color: #000;
}

.leson_number a:hover{
	color: #af0;
}

.article_title{
	text-align: center;
}

.article__block{
	margin: 15px 0 10px 0;
	padding: 10px 35px;
  box-shadow: 0 7px 15px #282828;
	background-color: #ffffff2b;
}

.section__list{
	margin: 0px auto;
}

.section__list-element{
	padding-left: 1rem;
}

.description,
.construction{

}

.big_size{
	font-size: 1.5rem;
	vertical-align: middle;
	color: rgb(255, 255, 255);
}

.line_text{
    line-height: 2.3rem;
    overflow-wrap: break-word;
}

.red_text{
	color: #f22;
}

.container_nav{
	flex: 1 1 20%; 
	height: 90vh;
	position: sticky;
	top: 50px;
	margin-top: 30px;
	overflow-y: scroll;
	overflow-x: clip;
	transition: width .2s;
	background: #ccc;
	box-shadow: inset 0 0 15px;
}
/*.container_nav:hover{
	width: 490px;
}
*/
.menu_list{
	width: 100%;
	margin: 30px 0px 5px 0;
  right: 100px;
	cursor: pointer;
	transition: width .2s;
}

.menu_element{
	margin: 5px 0;
  padding: 7px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #4f4f4f;
  color: #fff;
}

.menu_element:hover{
    background: #6e6e6e;
    /*color: rgb(228, 160, 0);*/
}
.active_menu_element{
    background: #d79659;
}
