article{
	margin: 35px 0;
	padding: 10px 35px;
	background: linear-gradient(180deg, #f9f9f9, #83805e);
	box-shadow: 0 10px 15px #282828;
}

.article_title{
	text-align: center;
}

.article__block{
	margin: 15px 0 10px 0;
	padding: 10px 35px;
  box-shadow: 0 7px 15px #282828;
	background-color: #ffffff2b;
}

.section__list{
	margin: 0px auto;
}
.section__list-element{
	padding-left: 1rem;
}

.description,
.construction{

}

.big_size{
	font-size: 1.5rem;
	vertical-align: middle;
	color: rgb(255, 255, 255);
}

.line_text{
    line-height: 2.3rem;
    overflow-wrap: break-word;
}

.red_text{
	color: #f22;
}

.menu_list{
	width: 350px;
}

.menu_element{
	height: 2rem;
    padding: 5px 10px;
    background: #4f4f4f;
    color: #fff;
}