{% extends "main_page.html" %}

{% block korean_lang %}



<p class="lala"> 
	<code>
	<span class="posi"><span class="letter_one">К</span><span class="letter_one_kor"></span></span>
	<span class="posi"><span class="letter_two">о</span><span class="letter_two_kor"></span></span>
	<span class="posi"><span class="letter_three">р</span><span class="letter_three_kor"></span></span>
	<span class="posi"><span class="letter_four">е</span><span class="letter_four_kor"></span></span>
	<span class="posi"><span class="letter_five">й</span><span class="letter_five_kor"></span></span>
	<span class="posi"><span class="letter_six">с</span><span class="letter_six_kor"></span></span>
	<span class="posi"><span class="letter_seven">к</span><span class="letter_seven_kor">한</span></span>
	<span class="posi"><span class="letter_eigth">и</span><span class="letter_eigth_kor">국</span></span>
	<span class="posi"><span class="letter_nine">й</span><span class="letter_nine_kor">어</span></span>
	<span class="posi"><span class="letter_ten">я</span><span class="letter_ten_kor"></span></span>
	<span class="posi"><span class="letter_eleven">з</span><span class="letter_eleven_kor"></span></span>
	<span class="posi"><span class="letter_twelve">ы</span><span class="letter_twelve_kor"></span></span>
	<span class="posi"><span class="letter_thirteen">к</span><span class="letter_thirteen_kor"></span></span>
	</code>
</p>



{% endblock %}
