
{% extends "main_page.html" %}

{% block rules %}

<div class="wraper_tables">

<a href="/">
	<button class='btn_navigation btn_active btn_keyboard_page' value='К словам'> 
		К словам 
	</button>
</a>


<div class="rules">

	<section>
		<h2 class="section_title"> Союз 그리고 (И) </h2>
		<p class="line_text"> Предложение №1. 그리고 Предложение №2. <br>
		 	Пример:
			<span class="big_size"> 어제 친구를 만났어요.<span class="red_text"> 그리고 </span> 서점에 갔어요.</span> <br>
			Пример:
			<span class="big_size"> 저는 책을 샀어요. <span class="red_text"> 그리고 </span> 저녁을 먹었어요. </span>
		</p>

	</section>



	<section>
		<h2 class="section_title"> Прошедшее время </h2>

		<p class="line_text">
			<span class="big_size"> 았 / 었 </span>
		</p>

		<p class="line_text"> Глаголы: <br>
			Вторая основа + 
			<span class="big_size"> ㅆ </span> + 
			<span class="big_size"> 어요. </span> <br>
		 	Пример:
			<span class="big_size"> 먹다 </span> (1 основа) => 
			<span class="big_size"> 먹어 </span> (2 основа) =>
			<span class="big_size"> 먹<span class="red_text">었</span>어요. </span>
		</p>

		<p class="line_text"> Прилагательные: <br> 
			Вторая основа + 
			<span class="big_size"> ㅆ </span> + 
			<span class="big_size"> 어요. </span> <br>
		 	Пример:
			<span class="big_size"> 예쁘다 </span> (1 основа) => 
			<span class="big_size"> 예뻐 </span> (2 основа) =>
			<span class="big_size"> 예<span class="red_text">뻤</span>어요. </span>
		</p>

		<p class="line_text"> Существительные на Согласную: <br> 
			Согласная + 
			<span class="big_size"> 이었 </span> + 
			<span class="big_size"> 어요. </span> <br>
		 	Пример: 
			<span class="big_size"> 선생님 </span> => 
			<span class="big_size"> 선생님<span class="red_text">이었</span>어요. </span>
		</p>

		<p class="line_text"> Существительные на Гласную: <br> 
			Гласная + 
			<span class="big_size"> 였 </span> + 
			<span class="big_size"> 어요. </span> <br>
		 	Пример:
			<span class="big_size"> 의사 </span> => 
			<span class="big_size"> 의사<span class="red_text">였</span>어요. </span>
		</p>

	</section>

	<section>
		<h2 class="section_title"> Повелительное наклонение </h2>
		<p class="line_text"> 
			согласная + <span class="big_size">으세요.</span> / 
			гласная + <span class="big_size">세요.</span> <br>
			Примеры: <br>
			<span class="big_size"> 먹다 - 먹<span class="red_text">으세요. </span> </span> <br> 
			<span class="big_size"> 사다 - 사<span class="red_text">세요. </span> </span> <br>
			<span class="big_size"> 읽다 - 읽<span class="red_text">으세요. </span> </span>  <br>
			<span class="big_size"> 가다 - 가<span class="red_text">세요. </span> </span>
		</p>
	</section>


	<section>
		<h2 class="section_title"> Окончания </h2>
		<p class="line_text"> согласная + <span class="big_size">이에요</span> / гласная + <span class="big_size">예요</span> - неофициальная форма, утверждение или вопрос (зависит от интонации) <br>
		 согласная + <span class="big_size"> 습니까? </span> / гласная + <span class="big_size"> 입니까? </span> - официальная вопросительная форма <br>
		согласная + <span class="big_size"> 습니다 </span> / гласная + <span class="big_size"> 입니다 </span>- официальная утвердительная форма </p>
	</section>


	<section>
		<h2 class="section_title"> Чтение букв в подчиме </h2>
		<p class="line_text"> <span class="big_size">ㄳ, ㄵ, ㄼ, ㄽ, ㄾ, ㅄ </span>- читается только первая согласная <br>
		<span class="big_size">ㄺ, ㄻ, ㄿ</span> - читается только вторая<br>
		В обоих случаях читаются обе, если следующая буква <span class="big_size">ㅇ</span> <nobr>(вторая буква из подчима заменяет ее) </nobr></p>
	</section>


	<section>
		<h2 class="section_title"> Правила чтения ㅅ и ㅢ</h2>
		<p class="line_text"> 
			<span class="big_size">ㅅ</span> и <span class="big_size">ㅆ</span> - читаются как [щ и щщ] перед буквами <span class="big_size">ㅣ, ㅑ, ㅛ, ㅠ</span> <br>
			<span class="big_size">ㅢ</span> - читается как [<span class="big_size">ㅣ</span>] после всех согласных, кроме <span class="big_size">ㅇ</span> 
		</p>
	</section>


	<section>
		<h2 class="section_title"> Сонорные буквы </h2>
		<p class="line_text"> <span class="big_size"> ㅇ, ㄴ, ㄹ, ㅁ </span>- после этих букв происходит озвончение согласных </p>
	</section>



</div>
</div>

{% endblock %}
