
{% extends "main_page.html" %}

{% block rules %}

<div class="wraper_tables">

<a href="/">
	<button class='btn_navigation btn_active btn_keyboard_page' value='К словам'> 
		К словам 
	</button>
</a>

<div class="flex_container">

<div class="container_nav">
	<nav class="menu_list">

	</nav>
</div>

<div class="all_rules">
<div class="rules_2">
	
		<!-- <article>
			<h2 class="article_title"></h2>
			<section class="article__block description">
				<h3> Описание </h3>
				
			</section>
			<section class="article__block construction">
				<h3> Конструкция </h3>
				
			</section>
			<section class="article__block line_text">
				<h3> Примеры </h3>
				<ul class="section__list">
					<li class="section__list-element"><span class="big_size"><span class="red_text"></span></span></li>
				</ul>
			</section>
		</article> -->




	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/CzZSIGAYZUM?t=1356" target="_blank"> 2-13 </a> </span></section>
		<h2 class="article_title"> Деепричастие цели (чтобы) </h2>
		<section class="article__block description">
			<h3> Описание </h3>
			Употребляется только тогда, когда в конце есть глаголы движения:<span class="big_size"> 가다, 오다, 다니다</span>
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Первая основа глагола на согласную + <span class="big_size">으러</span> <br>
			Первая основа глагола на гласную + <span class="big_size">ㄹ + 러</span>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">보다 > 보<span class="red_text">러</span></span> (чтобы посмотреть)</li>
				<li class="section__list-element"><span class="big_size">찾다 > 찾<span class="red_text">으러</span></span> (чтобы найти)</li>
			</ul>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">편지를 보내<span class="red_text">러</span> 우체국에 갔어요.</span> (пошел на почту, чтобы отправить письмо)</li>
				<li class="section__list-element"><span class="big_size">어머니가 과일을 사<span class="red_text">러</span> 기장에 갔어요. </span> (мама пошла на рынок купить фрукты)</li>
				<li class="section__list-element"><span class="big_size">아버지가 친구들과 마나<span class="red_text">러</span> 종국에 갔어요. </span> (папа поехал в Китай, чтобы встретиться с друзьями)</li>
				<li class="section__list-element"><span class="big_size">저는 아들을 보<span class="red_text">러</span> 러시아에 돌아왔어요. </span> (я вернулся в россию, чтобы увидеть своего сына)</li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/CzZSIGAYZUM?t=69" target="_blank"> 2-13 </a> </span></section>
		<h2 class="article_title"> Придаточное предложение времени <span class="big_size">을 / ㄹ때</span> </h2>
		<section class="article__block description"> 
			<h3> Описание </h3>

		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Глагол, Прилагательное на согласную + <span class="big_size">을 / ㄹ 때</span> (время) <br>
			Глагол, Прилагательное на гласную + <span class="big_size">ㄹ 때</span> (время) <br>
			Существительное без падежного окончания + <span class="big_size">때</span> (во время)
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			Настоящее время:
			<ul class="section__list">		
				<li class="section__list-element"><span class="big_size">받다 > 받<span class="red_text">을 때</span></span>... (когда получаю)</li>
				<li class="section__list-element"><span class="big_size">날씨가 좋<span class="red_text">을 때</span></span>... (когда погода хорошая)</li>
			</ul>
			Прошедшее время:
			<ul class="section__list">		
				<li class="section__list-element"><span class="big_size">받았<span class="red_text">을 때</span></span>... (когда получал)</li>
				<li class="section__list-element"><span class="big_size">날씨가 좋았<span class="red_text">을 때</span></span>... (когда погода была хорошая)</li>
			</ul>
			Существительное:
			<ul class="section__list">		
				<li class="section__list-element"><span class="big_size">여름 <span class="red_text"> 때</span></span>... (летом)</li>
				<li class="section__list-element"><span class="big_size">방학 <span class="red_text"> 때</span></span>... (на каникулах)</li>
				<li class="section__list-element"><span class="big_size">류가 <span class="red_text"> 때</span></span>... (во время отпуска)</li>
			</ul>
			Примеры из учебника:
			<ul class="section__list">		
				<li class="section__list-element"><span class="big_size">우리도 대락교에서 공부했을 <span class="red_text">때</span> 이 식당에서 점심 식사를 했어요.</span><br>(Мы тоже обедали в этом ресторане, когда учились в институте)</li>
				<li class="section__list-element"><span class="big_size">날씨가 봏을 <span class="red_text"> 때</span> 등산을 해요</span>. (Когда погода хорошая, иду в горы)</li>
				<li class="section__list-element"><span class="big_size">집에 왔을 <span class="red_text"> 때</span> 가족이 점심을 먹었습니다</span>. (Когда я пришел, семья обедала)</li>
				<li class="section__list-element"><span class="big_size">저는 돈이 없을 <span class="red_text"> 때</span> 집에 있어요</span>. (Когда у меня нет денег, я нахожусь дома)</li>
				<li class="section__list-element"><span class="big_size">저는 요리할 <span class="red_text"> 때</span> 손을 항상 씻어요</span>. (Когда я готовлю, я всегда мою руки)</li>
				<li class="section__list-element"><span class="big_size">저는 한국에 왔을 <span class="red_text"> 때</span> 친구가 없었어요</span>. (Когда я приехал в корею, у меня не было друзей)</li>
			</ul>

		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/ebJykDSdzNE?t=1194" target="_blank"> 2-12 </a> </span></section>
		<h2 class="article_title">Сравнительная степень прилагательного </h2>
		<section class="article__block description">
			<h3> Описание </h3>
			Сравнительная степень образуется при помощи частницы сравнения - <span class="big_size">보다</span>, которая присоединяется к объекту сравнения, качество которого сравнивается с качеством другого лица или предмета, который оформляется показателем Иминительного падежа.
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			<span class="big_size">더</span> + Прилагательное (более) <br>
			<span class="big_size">덜</span> + Прилагательное (менее) <br>
			<span class="big_size">제일 / 가장 </span> + Прилагательное (самый) [китайский / корейский] <br>
			<span class="big_size">추워요 > <span class="red_text">더</span> 추워요.</span> (холодный > холоднее) <br>
			<span class="big_size">추워요 > <span class="red_text">제일</span> 추워요.</span> (холодный > самый холодный) <br>
			<span class="big_size">추워요 > <span class="red_text">가장</span> 추워요.</span> (холодный > самый холодный) <br>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">겨울 날씨<span class="red_text">가</span> 가울 날씨<span class="red_text">보다 더 </span>추워요.</span> (погода зимой холоднее, чем осенью)</li>
				<li class="section__list-element"><span class="big_size">그녀의 옷<span class="red_text">이</span> 제 옷<span class="red_text">보다 더 </span> 예뻐요.</span> (Ее одежда наряднее, чем моя)</li>
				<li class="section__list-element"><span class="big_size">한국에 산<span class="red_text">이</span> 들판<span class="red_text">보다 더 </span> 많아요.</span> (В Корее больше гор, чем полей)</li>
				<li class="section__list-element"><span class="big_size">오늘 날씨가 어제 날씨<span class="red_text">이</span> 들판<span class="red_text">보다 더 </span> 좋아요.</span> (Сегодня погода лучше, чем вчера)</li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/ebJykDSdzNE?t=79" target="_blank"> 2-12 </a> </span></section>
		<h2 class="article_title"> Противительное деепричастие </h2>
		<section class="article__block description"> 
			<h3> Описание </h3>
			Противопоставления содержания главного и придаточного предложений.<br>
			В рус.яз соответствует значению «Хотя»</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Первая основа глагола / прилагательного + <span class="big_size">지만</span> <br>
			Существительное на согласную + <span class="big_size">이지만</span> <br>
			Существительное на гласную + <span class="big_size">지만</span>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			Настоящее время: <br>
			<ul class="section__list">
				<li class="section__list-element">глагол: <span class="big_size">공부하다 > 공부하<span class="red_text">지만</span>...</span></li>
				<li class="section__list-element">прилагательное: <span class="big_size">똑똑하다 > 똑똑하<span class="red_text">지만</span>...</span> (умный, но)</li>
				<li class="section__list-element">сущ. согл: <span class="big_size">선생님 > 선생님<span class="red_text">이지만</span>...</span> (учитель, но)</li>
				<li class="section__list-element">сущ. глас: <span class="big_size">의사 > 의사<span class="red_text">지만</span>...</span> (врач, но) </li>
			</ul>
			Прошедшее время: <br>
			<ul class="section__list">
				<li class="section__list-element">глагол: <span class="big_size">공부하다 > 공부했<span class="red_text">지만</span>...</span> (я изучал, но) </li>
				<li class="section__list-element">прилагательное: <span class="big_size">똑똑하다 > 똑똑했<span class="red_text">지만</span>...</span> (умный был, но) </li> 
				<li class="section__list-element">сущ. согл: <span class="big_size">선생님이다 > 선생님이었<span class="red_text">지만</span>...</span> (был учителем, но) </li>
				<li class="section__list-element">сущ. глас: <span class="big_size">의사이다 > 의사였<span class="red_text">지만</span>...</span> (был врачем, но) </li>
			</ul>
			Будущее время: <br>
			<ul>
				<li class="section__list-element">глагол: <span class="big_size">공부하다 > 공부할 것이<span class="red_text">지만</span>... / 공부할 거<span class="red_text">지만</span>... </span> (я буду учить, но.... / разговорная версия)</li>
				<li class="section__list-element">прилагательное: <span class="big_size">똑똑하다 > 똑똑할 것이<span class="red_text">지만</span>... / 똑똑할 거<span class="red_text">지만</span>... </span> (умным буду, но... / разговорная версия)</li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/85UNnqNOZ6E?t=1237" target="_blank"> 2-11 </a> </span></section>
		<h2 class="article_title"> Будущее время (1 лицо) </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Первая основа глагола на согласную + 을게요
			Первая основа глагола на гласную + ㄹ게요 
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">먹다 > 먹<span class="red_text">을게요</span>.</span></li>
				<li class="section__list-element"><span class="big_size">찾다 > 찾<span class="red_text">을게요</span>.</span></li>
			</ul>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">가다 > <span class="red_text">갈게요</span>.</span></li>
				<li class="section__list-element"><span class="big_size">마시다 > 마<span class="red_text">실게요</span>.</span></li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/85UNnqNOZ6E?t=73" target="_blank"> 2-11 </a> </span></section>
		<h2 class="article_title"> Категория долженствования </h2>
		<section class="article__block description">
			<h3> Описание </h3>
			Должен делать что-либо
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Должен: Вторая основа глагола + <span class="big_size">야 + 하다</span>
			Нужно: Вторая основа глагола + <span class="big_size">야 + 되다</span>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">가<span class="red_text">야 해요</span></span>. (Должен идти)</li>
				<li class="section__list-element"><span class="big_size">물을 마셔<span class="red_text">야 해요</span></span>. (Должен пить воду)</li>
			</ul>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">가<span class="red_text">야 돼요</span></span>. (Нужно идти)</li>
				<li class="section__list-element"><span class="big_size">물을 마셔<span class="red_text">야 돼요</span></span>. (Нужно пить воду)</li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/d6W6OTDi9dU?t=1548" target="_blank"> 2-10 </a> </span></section>
		<h2 class="article_title"> Придаточное времени </h2>
		<section class="article__block description"> 
			<h3> Описание </h3>
			Действие, выраженное сказуемым главного предложения, происходит после действия, выраженого сказуемым придаточного
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			причастие прошедшего времени + <span class="big_size"> 후에 </span> <br>
			глагол на гласную (первая основа) + <span class="big_size"> ㄴ + 후에 </span> (после того как) <br>
			глагол на гласную (первая основа) + <span class="big_size"> 은 + 후에 </span> (после того как) <br>
			сущ. без падежа + <span class="big_size"> 후에 </span> <br>
			Синонимами существительного являются слова исконно корейского происхождения <span class="big_size">뒤, 다음</span>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			Примеры глагол:<br>
			<ul class="section__list">		
				<li class="section__list-element"><span class="big_size">아이들은 점심을 먹<span class="red_text">은 후에</span> 잠을 잡니다</span>. (После обеда дети спят)</li>
			</ul>
			Примеры из учебника:<br>
			<ul class="section__list">		
				<li class="section__list-element"><span class="big_size">한 시간 일<span class="red_text">한 후에</span> 10분 쉬어 보세요</span>. (После того, как он окончил институт, он уехал в Англию) </li>
				<li class="section__list-element"><span class="big_size">어제 저녁을 먹<span class="red_text">은 후에</span> 공원에서 산책을 했어요.</span>. (После того, как я вернулся из Кореи, я ем только острую еду)</li>
				<li class="section__list-element"><span class="big_size">그 첵을 다 읽<span class="red_text">은 후에</span> 저도 빌려 주세요.</span>. (После того, как я получил письмо от Маши, я позвонил Диме)</li>
			</ul>
			Примеры сущ.:<br>
			<ul class="section__list">		
				<li class="section__list-element"><span class="big_size">그는 대락교를 졸업<span class="red_text">한 후에</span> 영국에 갔어요</span>. (После того, как он окончил институт, он уехал в Англию) </li>
				<li class="section__list-element"><span class="big_size">한국에서 돌아<span class="red_text">온 후에</span> 매운 늠식만 먹어요</span>. (После того, как я вернулся из Кореи, я ем только острую еду) </li>
				<li class="section__list-element"><span class="big_size">마샤에게서 편지를 받<span class="red_text">은 후에</span> 디마에게 전화했어요.</span>. (После того, как я получил письмо от Маши, я позвонил Диме) </li>
				<li class="section__list-element"><span class="big_size">친구는 모스크바에 돌아<span class="red_text">온 후에</span> 우리는 매일 만나요</span>. (После того, как друг вернулся в Москву мы каждый день встречаемся)</li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/d6W6OTDi9dU?t=80" target="_blank"> 2-10 </a> </span></section>
		<h2 class="article_title"> Отрицательная форма глагола в повелительном и пригласительном наклонении </h2>
		<section class="article__block description"> 
			Не делайте чего-либо (повелительное наклонение)<br>
			Давайте не будем делать (пригласительное наклонение) <br>
			ㄹ - по правилам чередований, исчезает перед ㄴ,ㄹ,ㅂ,ㅅ
		</section>
		<section class="article__block construction">
			первая основа глагола + <span class="big_size">지 + 말다</span>
		</section>
		<section class="article__block line_text">
			Примеры:<br>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">가다 > 가<span class="red_text">지 말다</span> > 가<span class="red_text">지 마세요</span></span>. (Не идите) </li>
				<li class="section__list-element"><span class="big_size">읽다 > 읽<span class="red_text">지 말다</span> > 읽<span class="red_text">지 마세요</span></span>. (Не читайте) </li>
				<li class="section__list-element"><span class="big_size">보다 > 보<span class="red_text">지 말다</span> > 보<span class="red_text">지 말고 </span></span>... (Не смотрите телевизор, а делайте уроки) </li>
				<li class="section__list-element"><span class="big_size">가다 > 가<span class="red_text">지 말다</span> > 가<span class="red_text">지 마지</span></span>. (Давайте не пойдем) </li>
				<li class="section__list-element"><span class="big_size">나쁜 사람들과 만나<span class="red_text">지 마세요</span></span>. (Не встречайтесь с плохими людьми) </li>
				<li class="section__list-element"><span class="big_size">주말에 일하<span class="red_text">지 마세요</span></span>. (Не работайте по выходным) </li>
				<li class="section__list-element"><span class="big_size">우리 할머니를 듣<span class="red_text">지 마세요</span></span>. (Не слушайте нашу бабушку) </li>
				<li class="section__list-element"><span class="big_size">주말에 친구들과 만나<span class="red_text">지 말고</span> 숙제를 하세요</span>. (В выходные не встречайтесь с друзьями, а сделайте домашнее задание) </li>
				<li class="section__list-element"><span class="big_size">일본어를 공부하<span class="red_text">지 말고</span> 한국어를 공부하세요</span>. (Не учите Японский, а учите Корейский) </li>
			</ul>
			Примеры из учебника:<br>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">그러면 말을 많이 하<span class="red_text">지 마세요</span>. 물을 많이 드세요</span>. (У меня очень болит горло > В таком случае меньше говори. Больше пей воды.) </li>
				<li class="section__list-element"><span class="big_size">커피를 너무 많이 마시<span class="red_text">지 마세요</span>. 몸에 안 좋아요</span>. (Не пейте много кофе. Это не хорошо для тела.) </li>
				<li class="section__list-element"><span class="big_size">박물관 안에서 사진을 찍<span class="red_text">지 마세요</span>. 몸에 안 좋아요</span>. (Внутри музея не делайте фотографии.) </li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/uae3QuIHu6s?t=1178" target="_blank"> 2-9 </a> </span></section>
		<h2 class="article_title"> Категория желания </h2>
		<section class="article__block description">
			<h3> Описание </h3>
			1. В повествовательных предложениях с подлежащим, выраженным 1-м лицом / в вопросительных предложениях с подлежащим, выраженным -м лицом (<span class="big_size red_text">싶다</span>) <br>
			2. В предложениях с подлежащим, выраженным местоимением 3-м лица (<span class="big_size red_text">싶어하다</span>)
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Первая основа глагола + <span class="big_size">고 + 싶다</span>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">저는 이 한복을 사고 싶습니다 </span> (Я хочу купить этот ханбок) </li>
				<li class="section__list-element"><span class="big_size">한국에 가고 싶습니까? </span> (Вы хотите поехать в Корею?) </li>
				<li class="section__list-element"><span class="big_size">그녀도 한복을 사고 싶어합니다 </span> (Она тоже хочет купить ханбок) </li>
			</ul>
		</section>
		<section class="article__block line_text">
			<h3> Некоторые глаголы приобретают иное значение </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">입다 > 입어 <span class="red_text">보다</span></span> (Надевать > Примерять)</li>
				<li class="section__list-element"><span class="big_size">멋다 > 먹어 <span class="red_text">보다</span></span> (Есть > Пробовать)</li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/uae3QuIHu6s?t=99" target="_blank"> 2-9 </a> </span></section>
		<h2 class="article_title"> Категория попытки действия </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Вторая основа глагола + <span class="big_size">보다</span><br>
			<span class="big_size"> 쓰다 > 써 <span class="red_text">보다</span></span> / 읽다 > 읽어 보다
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size"><span class="red_text"></span></span></li>
				<li class="section__list-element">Настоящее время повелительное наклонение: <span class="big_size"> 써 <span class="red_text">보세요.</span> / 읽어 <span class="red_text">보세요</span>.</span> (попробуй написать / прочитать)</li>
				<li class="section__list-element">Прошедшее время: <span class="big_size"> 써 <span class="red_text">봤어요.</span> / 읽어 <span class="red_text">봤어요</span></span> <br> (пробовал написать / прочитать)</li>
				<li class="section__list-element">Будущее время время: <span class="big_size"> 써 <span class="red_text">볼 거예요.</span> / 읽어 <span class="red_text">볼 거예요</span></span> (попробую написать / прочитать)</li>
			</ul>
		</section>
		<section class="article__block line_text">
			<h3> Некоторые глаголы приобретают иное значение </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">입다 > 입어 <span class="red_text">보다</span></span> (Надевать > Примерять)</li>
				<li class="section__list-element"><span class="big_size">멋다 > 먹어 <span class="red_text">보다</span></span> (Есть > Пробовать)</li>
			</ul>
		</section>
	</article>

	
	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/Qfhqdq48q_0?t=722" target="_blank"> 2-8 </a> </span></section>
		<h2 class="article_title"> Суффикс вежливости —[으]시 </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Глагол:
			<ul>
				<li>На гласную (первая основа) + 시 </li>
				<li>На согласную (первая основа) + 으시</li>
			</ul>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			Глаголы:
			<ul class="section__list">
				<li class="section__list-element">на гласную: <span class="big_size"> 하다 > 하<span class="red_text">시다</span> </span> </li>
				<li class="section__list-element">на согласную: <span class="big_size"> 찾다 > 찾<span class="red_text">으시다</span> </span></li>
				<li class="section__list-element">Настоящее время: <span class="big_size"> 하<span class="red_text">세요</span>. / 찾<span class="red_text">으세요</span>.</span> </li>
				<li class="section__list-element">Прошедшее время: <span class="big_size"> 하<span class="red_text">셨어요</span>. / 찾<span class="red_text">으셨어요</span>. </span> </li>
				<li class="section__list-element">Будущее время: <span class="big_size"> 하<span class="red_text">실 거예요</span>. / 찾<span class="red_text">으실 거예요</span>. </span></li>
			</ul>
			Прилагательные:
			<ul class="section__list">
				<li class="section__list-element"> <span class="big_size"> 예쁘다 > 예쁘<span class="red_text">시다</span> </span> </li>
				<li class="section__list-element"> <span class="big_size"> 아름답다 > 아름<span class="red_text">우시다</span> </span></li>
				<li class="section__list-element">Настоящее время: <span class="big_size"> 예쁘<span class="red_text">세요</span>. / 아름<span class="red_text">우세요</span>.</span> </li>
				<li class="section__list-element">Прошедшее время: <span class="big_size"> 예쁘<span class="red_text">셨어요</span>. / 아름<span class="red_text">우셨어요</span>. </span> </li>
				<li class="section__list-element">Будущее время: <span class="big_size"> 예쁘<span class="red_text">실 거예요</span>. / 아름<span class="red_text">우실 거예요</span>. </span></li>
			</ul>
			Существительные:
			<ul class="section__list">
				<li class="section__list-element"> <span class="big_size"> 이다 > 이<span class="red_text">시다</span> </span> </li>
				<li class="section__list-element"> <span class="big_size"> 선생님이다 > 선생님이<span class="red_text">시다</span> </span></li>
				<li class="section__list-element">Настоящее время: <span class="big_size"> 성생님이<span class="red_text">세요</span>. / 의사<span class="red_text">세요</span>.</span> </li>
			</ul>
		</section>
	</article>
			

	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/sOurGFNkN68?t=1894" target="_blank"> 2-7 </a> </span></section>
		<h2 class="article_title"> Причастный оборот настоящего времени </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Первая основа глагола в настоящем времени + <span class="red_text">는</span>
			<ol class="section__list">
				<li class="section__list-element">Первая основа глагола на <span class="big_size">ㄹ</span> исчезает перед <span class="big_size">ㄴ,ㄹ,ㅂ,ㅅ</span></li>
				<li class="section__list-element">Первая основа глагола + <span class="big_size"><span class="red_text"></span>는</span> - когда просто хотим обозначить происходящее действие</li>
				<li class="section__list-element">Первая основа глагола на <span class="big_size">ㄷ<span class="red_text"></span></span></li>
				<li class="section__list-element">Первая основа глагола на <span class="big_size">ㅅ<span class="red_text"></span></span></li>
				<li class="section__list-element">Первая основа глагола на <span class="big_size">ㅂ<span class="red_text"></span></span></li>
			</ol>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ol class="section__list">
				<li class="section__list-element">
					<span class="big_size">살다 > 사<span class="red_text">는</span></span> <br>
					<span class="big_size">알다 > 아<span class="red_text">는</span></span> <br>
					<span class="big_size">만들다 > 만드<span class="red_text">는</span></span> <br>
					<span class="big_size">놀다 > 노<span class="red_text">는</span></span>
				</li>
				<li class="section__list-element">
					<span class="big_size">공부하다 > 공부하<span class="red_text">는</span></span>(изучающий)
					<span class="big_size">찾다 > 찾<span class="red_text">는</span></span>(ищущий)
				</li>
				<li class="section__list-element">
					<span class="big_size">듣다 > 듣<span class="red_text">는</span></span>
					<span class="big_size">묻다 > 묻<span class="red_text"></span>는</span>
					<span class="big_size">걷다 > 걷<span class="red_text"></span>는</span>
				</li>
				<li class="section__list-element">
					<span class="big_size">짓다 > 짓<span class="red_text"></span>는</span>
					<span class="big_size">잇다 > 잇<span class="red_text"></span>는</span>
				</li>
				<li class="section__list-element">
					<span class="big_size">눕다 > 눕<span class="red_text">는</span></span>
					<span class="big_size">굽다 > 굽<span class="red_text">는</span></span>
				</li>
			</ol>
			<ul class="section__list">
				<li class="section__list-element"> 축구를 하<span class="red_text">는</span> 남자예요. (Мальчик, который играет в футбол)</li>
				<li class="section__list-element"> 한국어를 공부라<span class="red_text">는</span> 여자예요. (Девочка, которая изучает корейский язык)</li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/sOurGFNkN68?t=1570" target="_blank"> 2-7 </a> </span></section>
		<h2 class="article_title"> Категория длительного вида </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Первая основа глагола + 고 и глагол 있다
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element">
					<span class="big_size">가다 > 가<span class="red_text">고 있</span>어요.</span><br>
					<span class="big_size">가<span class="red_text">고 있</span>었어요.</span><br>
					<span class="big_size">가<span class="red_text">고 있</span>을 거예요.</span>
				</li>
				<li class="section__list-element">
					<span class="big_size">먹다 > 막<span class="red_text">고 있</span>어요.</span><br>
					<span class="big_size">먹<span class="red_text">고 있</span>었어요.</span><br>
					<span class="big_size">먹<span class="red_text">고 있</span>을 거예요.</span>
				</li>
				<li class="section__list-element">
					<span class="big_size">기다리다 > 기다리<span class="red_text">고 있</span>어요.</span><br>
					<span class="big_size">기다리<span class="red_text">고 있</span>어요.</span><br>
					<span class="big_size">기다리<span class="red_text">고 있</span>을 거예요.</span><br>
				</li>
			</ul>
		</section>
	</article>
			

	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/sOurGFNkN68?t=175" target="_blank"> 2-7 </a> </span></section>
		<h2 class="article_title"> Определительная форма прилагательного </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			<ol class="section__list">
				<li class="section__list-element">Первая основа прилагательного на согласную + <span class="big_size"><span class="red_text">은</span></span>: <br>
				<span class="big_size"> 맑다 > 맑 > 맑<span class="red_text">은</span> 물. </span> (Прозрачная вода) </li>

				<li class="section__list-element">Первая основа прилагательного на гласную + <span class="big_size"><span class="red_text">ㄴ</span></span>: <br>
				<span class="big_size"> 세다 > 세 > <span class="red_text">겐</span> 바람 </span> (Сильный ветер) </li>

				<li class="section__list-element">Чередование ㄹ = 0 перед ㄴ, ㄹ, ㅂ, ㅅ - ㄹ исчезает при образовании грамматических форм: <br>
				<span class="big_size"> 길다 > 길 > 긴 머리 </span> (длинные волосы)</li>

				<li class="section__list-element">Чередование ㅂ = 우 перед гласными конечной ㅂ изменяется на 우.  <br>
				По правилам определительной формы от основ, оканчивающихся на согл., используем окончание 은. <span class="big_size">춥다 > 춥 > 춥은</span>, но по правилам чередования перед гласным ㅂ меняется на <span class="big_size">우 = 춥 > 추우 > 추<span class="red_text">운</span></span> </li>
				<li class="section__list-element">Чередование ㅎ = 0</li>
			</ol>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ol class="section__list">
				<li class="section__list-element"><span class="big_size">변덕스럽다 > 변덕스러<span class="red_text">운</span></span>  </li>
				<li class="section__list-element"><span class="big_size">무덥다 > 무더우 > 무더<span class="red_text">운</span></span> </li>
				<li class="section__list-element"><span class="big_size">덥다 > 더우 > 더<span class="red_text">운</span> (душный) </span> </li>
				<li class="section__list-element"><span class="big_size">아름답다 > 아름다우 > 아름다<span class="red_text">운</span> (жаркий) </span> </li>
				<li>
					<span class="big_size">빨갛다 > 빨간</span>... сущ.  (Красный)<br>
					<span class="big_size">노랗다 > 노란</span>... сущ.  (Желтый)<br>
					<span class="big_size">파랗다 > 파란</span>... сущ.  (Белый)<br>
					<span class="big_size">하얗다 > 하얀</span>... сущ.  (Синий)<br>
					<span class="big_size">까맣다 > 까만</span>... сущ.  (Черный)<br>
					<span class="big_size">어떻다 > 어떤</span>... сущ.  (Какой?)<br>
				</li>
			</ol>
		</section>
	</article>

	
	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/cphTLPVRpyI?t=136" target="_blank"> 2-6 </a> </span></section>
		<h2 class="article_title"> Категория направленности действия <span class="big_size">아 / 어 주다</span></h2>
		<section class="article__block description">
			<h3> Описание </h3>
			В русском языке передается при помощи местоимений. <br>
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Совершение действий в интересах 1-го лица: <br>
			Вторая основа глагола + <span class="big_size">주다</span> <br>
			Совершение действий в интересах 2-го и 3-го лица: <br>
			Вторая основа глагола + <span class="big_size">드리다</span> (вежливая форма слова 주다) <br>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element">1-лицо: <span class="big_size">읽다 > 읽이<span class="red_text">주세요</span>. </span> (Прочитай <span class="red_text">мне</span>) </li>
				<li class="section__list-element">2-лицо:<span class="big_size">전화하다 > 전화해 <span class="red_text">드리</span>겠습니다.. </span> (Я позвоню <span class="red_text">Вам</span>) </li>
				<li class="section__list-element">1-лицо: <span class="big_size">그것을 좀 설명<span class="red_text">해 주세요</span>. </span> (Объясните <span class="red_text">мне</span>, пожалуйста, вот это) 2-лицо:<span class="big_size"> <br> 네. 설명<span class="red_text">해 드리</span>겠습니다. </span> (Хорошо, я объясню <span class="red_text">Вам</span>) </li>
				<li class="section__list-element">1-лицо: <span class="big_size">아들의 사진을 보<span class="red_text">내 주세요</span>. </span> (Пришлите <span class="red_text">мне</span>, пожалуйста, фотографию Вашего сына) </li>
				<li class="section__list-element">1-лицо:<span class="big_size"> 기다<span class="red_text">려 주세요</span>. </span> (Подождите <span class="red_text">меня</span>) </li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/MdbxAMRvevY?t=1164" target="_blank"> 2-5 </a> </span></section>
		<h2 class="article_title"> Предшествование <span class="big_size">아서 / 어서</span></h2>
		<section class="article__block description">
			<h3> Описание </h3>
			Описывание нескольких действий в одном предложении
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Вторая основа глагола + <span class="big_size">서</span> <br>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size"> 올라가다 = 올라가<span class="red_text">서</span>... </span> </li>
				<li class="section__list-element"><span class="big_size"> 건너다 = 건너<span class="red_text">서</span>... </span></li>
				<li class="section__list-element"><span class="big_size"> 올라가다 = 올라가<span class="red_text">서</span>... </span></li>
				<li class="section__list-element"><span class="big_size"> 층우로 올라가<span class="red_text">서</span> 왼쪽으로 가세요. </span></li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/vlOugl7lbYc?t=870" target="_blank"> 2-4 </a> </span></section>
		<h2 class="article_title"> Пространственный промежуток времени <span class="big_size">에서 까지</span>  </h2>
		<section class="article__block description"></section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Существительное в дательном местном падеже + существительное <br>
			<span class="big_size">에서</span> (отправная точка) - <span class="big_size">까지</span> (конечная точка)
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size"> 서울<span class="red_text">에서</span> 부산<span class="red_text">까지</span> 비행기를 타고 가요. </span> (я лечу из Сеула в Пусан на самолете) </li>
			</ul>	
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/vlOugl7lbYc?t=63" target="_blank"> 2-4 </a> </span></section>
		<h2 class="article_title"> Требуемое время в дороге <span class="big_size">(이 / 가) 걸리다</span>  </h2>
		<section class="article__block description"></section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Существительное в именительном падеже + 걸리다 (глагол требоваться) 
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size"> 삼십 분<span class="red_text">이 걸려요</span>. </span> (мне требуется 30 минут) </li>
				<li class="section__list-element"><span class="big_size"> 세 시간<span class="red_text">이 걸려요</span>. </span> (у меня занимает 3 часа) </li>
			</ul>	
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/XU1nXl_Msv0?t=1426" target="_blank"> 2-3 </a> </span></section>
		<h2 class="article_title"> Вопросительное слово Какой? <span class="big_size"></span> </h2>
		<section class="article__block description"></section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			<span class="big_size">무슨</span> (Какой?) - в ответе ожидается существительное <br>
			<span class="big_size">어떤 (어떻다)</span> (Какой?) - в ответе ожидается прилагательное <br>
			<span class="big_size">어느</span> (Какой? Который из?) <br>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			무슨:
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">- <span class="red_text">무슨</span> 과일을 좋아해요?<br> - 바나나를 좋아해요.</span><br>(Какие фрукты вам нравятся? Мне нравятся бананы) </li>
			</ul>	
			어떤:
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">- <span class="red_text">어떤</span> 과일을 좋아해요?<br> - 단과일을 좋아해요.</span><br>(Какие фрукты вам нравятся? Мне нравятся сладкие фрукты) </li>
			</ul>	
			어느:
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">- <span class="red_text">어느</span> 과일을 좋아해요?</span>() </li>
			</ul>	
		</section>
	</article>
	

	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/XU1nXl_Msv0?t=124" target="_blank"> 2-3 </a> </span></section>
		<h2 class="article_title"> Вопрос / утверждение <span class="big_size">(으)ㄹ래요</span> </h2>
		<section class="article__block description">
			<h3> Описание </h3>
			Мнение говорящего / решение <br>
			Когда хотим услышать мнение собеседника(?)
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Первая основа глагола на согласную + <span class="big_size"><span class="red_text">을래요</span></span> <br>
			Первая основа глагола на гласную + <span class="big_size"><span class="red_text">ㄹ래요</span></span>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			глагол:<br>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">먹다 > 먹<span class="red_text">을래요</span></span>(я буду есть) </li>
				<li class="section__list-element"><span class="big_size">가다 > <span class="red_text">갈래요</span></span>(я пойду) </li>
			</ul>	
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/WprBFKLUm1w?t=987" target="_blank"> 2-2 </a> </span></section>
		<h2 class="article_title"> Причинно-следственная связь <span class="big_size"><span class="red_text">아서 / 어서</span></span> </h2>
		<section class="article__block description">
			<h3> Описание </h3>
			Если необходимо соединить: <br>
			несколько просты предложений в сложном <br>
			несколько глаголов, прилагательных, существительных
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Вторая основа глагола + <span class="big_size"><span class="red_text">서</span></span> <br>
			Вторая основа прилагательного + <span class="big_size"><span class="red_text">서</span></span> <br>
			Существительное <span class="big_size">이다 + <span class="red_text">서</span></span> <br>
			Существительное согласная + <span class="big_size"><span class="red_text">이어서</span></span> <br>
			Существительное гласная + <span class="big_size"><span class="red_text">여서</span></span>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			глагол:<br>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">가다 > 가<span class="red_text">서</span>...</span> </li>
				<li class="section__list-element"><span class="big_size">배우다 > 배워<span class="red_text">서</span>...</span> </li>
			</ul>	
			прилагательное:<br>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">예쁘다 > 예뻐<span class="red_text">서</span>...</span> </li>
				<li class="section__list-element"><span class="big_size">똑똑하다 > 똑똑해<span class="red_text">서</span>...</span> </li>
			</ul>
			существительное:<br>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size">선생님<span class="red_text">이어서</span></span> </li>
				<li class="section__list-element"><span class="big_size">의사<span class="red_text">여서</span></span> </li>
			</ul>
		</section>
	</article>
	
	
	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/WprBFKLUm1w?t=114" target="_blank"> 2-2 </a> </span></section>
		<h2 class="article_title"> Отрицания <span class="big_size"><span class="red_text">안</span> / <span class="red_text">못</span></span> </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			<span class="big_size"><span class="red_text">안</span></span> + глагол / прилагательное <br>
			первая основа глагола + <span class="big_size"><span class="red_text"> 지 않다 </span></span> <br>
			<span class="big_size"><span class="red_text">못</span></span> + прилагательное <br>
			первая основа глагола + <span class="big_size"><span class="red_text"> 지 못하다 </span></span>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size"><span class="red_text">안 </span>가요.</span> (я не иду)</li>
				<li class="section__list-element"><span class="big_size">배우<span class="red_text">지 않아요</span>.</span> (я не изучаю)</li>
				<li class="section__list-element"><span class="big_size"><span class="red_text">못 </span>가요.</span> (я не могу идти)</li>
				<li class="section__list-element"><span class="big_size">배우<span class="red_text">지 못해요</span>.</span> (я не могу изучать)</li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="https://youtu.be/Olz2IJKtQxY?t=224" target="_blank"> 2-1 </a> </span></section>
		<h2 class="article_title"> Срединная форма / Соединительное деепричастние <span class="big_size"><span class="red_text">고</span></span> </h2>
		<section class="article__block description">
			<h3> Описание </h3>
			Если необходимо соединить: <br>
			несколько просты предложений в сложном <br>
			несколько глаголов, прилагательных, существительных
		</section>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Первая основа глагола + <span class="big_size"><span class="red_text">고</span></span> + глагол
			Первая основа прилагательного + <span class="big_size"><span class="red_text">고</span></span> + прилагательное
			Существительное + <span class="big_size"><span class="red_text">고</span></span> + существительное
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element">глагол:<span class="big_size">요리하다 > 요리하 > 요리하<span class="red_text">고</span> 공부해요.</span> (готовлю и учусь)</li>
				<li class="section__list-element">прилагательное:<span class="big_size">여자는 예쁘다 > 여자는 > 예쁘<span class="red_text">고</span> 똑똑해요.</span> (девушка красивая и умная)</li>
				<li class="section__list-element">существительное:<span class="big_size">우리 할아버지는 선생님이<span class="red_text">고</span> 할머니는 의사입니다.</span> (мой дедушка учитель, а бабушка врач)</li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="" target="_blank"> 1-1 </a> </span></section>
		<h2 class="article_title"> Союз 그런데(но / однако) </h2>
		<p class="line_text"> Предложение №1. 그런데 Предложение №2. <br>
		 	Пример:
			<span class="big_size"> 오늘은 시간이 없어요.<span class="red_text"> 그런데 </span> 내일 시간이 있을 거예요.</span>
		</p>
	</article>

</div>


<div class="rules">

	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="" target="_blank"> 1-1 </a> </span></section>
		<h2 class="article_title"> Союз 그리고 (И) </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Предложение №1. 그리고 Предложение №2.
		</section>
		<section class="article__block line_text">
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size"> 어제 친구를 만났어요.<span class="red_text"> 그리고 </span> 서점에 갔어요. </span> </li>
				<li class="section__list-element"><span class="big_size"> 저는 책을 샀어요. <span class="red_text"> 그리고 </span> 저녁을 먹었어요. </span></li>
			</ul>
		</section>
	</article>
	
	
	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="" target="_blank"> 1-1 </a> </span></section>
		<h2 class="article_title"> Прошедшее время <span class="big_size"> 았 / 었 </span></h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			Глагол / Прилагательные: <br>
			Вторая основа + <span class="big_size"> ㅆ + 어요. </span> <br>
			Существительные на Согласную: <br>
			Согласная + <span class="big_size"> 이었 + <span class="big_size"> 어요. </span> <br>
			Существительные на Гласную: <br>
			Гласная + <span class="big_size"> 였 + 어요. </span> <br>
		</section>
		<section class="article__block line_text">
			<ul class="section__list">
				<li class="section__list-element">глагол: <span class="big_size"> 먹다 > 먹어 > 먹<span class="red_text">었</span>어요.</span> </li>
				<li class="section__list-element">прилагательное: <span class="big_size"> 예쁘다 > 예뻐 > 예<span class="red_text">뻤</span>어요</span></li>
				<li class="section__list-element">существительное согласная: <span class="big_size"> 선생님 > 선생님<span class="red_text">이었</span>어요. </span> </li>
				<li class="section__list-element">существительное гласная: <span class="big_size"> 의사 > 의사<span class="red_text">였</span>어요.</span> </li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="" target="_blank"> 1-1 </a> </span></section>
		<h2 class="article_title"> Повелительное наклонение </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			гласная + <span class="big_size">세요.</span> <br>
			согласная + <span class="big_size">으세요.</span>
		</section>
		<section class="article__block line_text">
			<h3> Примеры </h3>
			<ul class="section__list">
				<li class="section__list-element"><span class="big_size"> 먹다 > 먹<span class="red_text">으세요. </span> </span> </li>
				<li class="section__list-element"><span class="big_size"> 사다 > 사<span class="red_text">세요. </span> </span></li>
				<li class="section__list-element"><span class="big_size"> 읽다 > 읽<span class="red_text">으세요. </span> </span> </li>
				<li class="section__list-element"><span class="big_size"> 가다 > 가<span class="red_text">세요. </span> </span></li>
			</ul>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="" target="_blank"> 1-1 </a> </span></section>
		<h2 class="article_title"> Окончания </h2>
		<section class="article__block construction">
			<h3> Конструкция </h3>
			согласная + <span class="big_size"> 이에요 </span> / гласная + <span class="big_size">예요</span> - неофициальная форма, утверждение или вопрос (зависит от интонации) <br>
			согласная + <span class="big_size"> 습니까? </span> / гласная + <span class="big_size"> 입니까? </span> - официальная вопросительная форма <br>
			согласная + <span class="big_size"> 습니다 </span> / гласная + <span class="big_size"> 입니다 </span>- официальная утвердительная форма
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="" target="_blank"> 1-1 </a> </span></section>
		<h2 class="article_title"> Чтение букв в подчиме </h2>
		<section class="article__block description">
			<h3> Описание </h3>
			<span class="big_size">ㄳ, ㄵ, ㄼ, ㄽ, ㄾ, ㅄ </span>- читается только первая согласная <br>
			<span class="big_size">ㄺ, ㄻ, ㄿ</span> - читается только вторая<br>
			В обоих случаях читаются обе, если следующая буква <span class="big_size">ㅇ</span> <nobr>(вторая буква из подчима заменяет ее) </nobr></p>
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="" target="_blank"> 1-1 </a> </span></section>
		<h2 class="article_title"> Правила чтения ㅅ и ㅢ</h2>
		<section class="article__block description">
			<h3> Описание </h3>
			<span class="big_size">ㅅ</span> и <span class="big_size">ㅆ</span> - читаются как [щ и щщ] перед буквами <span class="big_size">ㅣ, ㅑ, ㅛ, ㅠ</span> <br>
			<span class="big_size">ㅢ</span> - читается как [<span class="big_size">ㅣ</span>] после всех согласных, кроме <span class="big_size">ㅇ</span> 
		</section>
	</article>


	<article>
		<section class="article__block leson_number"><span class="lesson_number_text"> <a class="lesson_link" href="" target="_blank"> 1-1 </a> </span></section>
		<h2 class="article_title"> Сонорные буквы </h2>
		<section class="article__block description">
			<h3> Описание </h3>
			<span class="big_size">ㅇ, ㄴ, ㄹ, ㅁ</span> - Буквы после которых происходит озвончение
		</section>
	</article>
</div>
</div>
</div>
</div>
{% endblock %}
