{% extends "main_page.html" %}

{% block words %}
	<div class='top_page'>

		<h1 class='title_page'> 
			Все слова 
			<sup class="title_page_sup"> {{ words[0]|length }} </sup> 
		</h1>  
		<button id='btn_opacity' class='btn_navigation'> Hide translate </button>
	</div>


	<div class="container">

		<div class="navigation">

			<a href="/keyboard">
				<button id='btn_keyword' class='to_keyboard'> Keyboard </button>
			</a>

			<ul class="ul_navigation">
				<li> 
					<button class='btn_navigation btn_active' 
									value='Все слова'> 
										Все слова 
										<sup> {{ words[0]|length }} </sup>
					</button> 
				</li>

				<li> 
					<button class='btn_navigation' 
									value='Время'> 
										Время 
										<sup> {{ words[7]|length }} </sup>
					</button> 
				</li>

				{% for i in range(words[2]|length) %}
					<li> 
						<button class='btn_navigation' 
										value="{{ words[2][i] }}"> 
											{{ words[2][i] }} 
											<sup> {{ words[1][i]|length }} </sup>
						</button> 
					</li>
				{% endfor %}	

				{% for i in range(words[4]|length) %}
					<li> 
						<button class='btn_navigation numbers' 
										value="{{ words[4][i] }}"> 
											{{ words[4][i] }} 
											<sup> {{ words[4][i]|length }} </sup>
						</button> 
					</li>
				{% endfor %}	

			</ul>
		</div>
		
			<ul class='word_list list_active'>
				{% for word in words[0] %}
					<li>
						<span class="korean"> {{ word[0] }} </span>
						<span class="russian"> {{ word[1] }} </span>
					</li>
				{% endfor %}
			</ul> 


			<ul class='word_list'>
					<ul class="sub_menu_list">
							<li class="sub_menu_btn btn_sub_menu_active"> Все время </li>	
						{% for category_name in words[6] %}
							<li class="sub_menu_btn" value="{{words[6]|length}}"> {{ category_name }} </li>	
						{% endfor %}
					</ul>

				<ul class="sub_time_list active_sub_list">
					{% for word in words[7] %} 
							<li>
								<span class="korean"> {{ word[0] }} </span>
								<span class="russian"> {{ word[1] }} </span>
							</li>
					{% endfor %}
				</ul>

				{% for category in words[5] %}
					<ul class="sub_time_list">
						{% for word in category %}
							<li>
								<span class="korean"> {{ word[0] }} </span>
								<span class="russian"> {{ word[1] }} </span>
							</li>
						{% endfor %}
					</ul>
				{% endfor %} 
			</ul>


			{% for category in words[1] %} 
				<ul class='word_list'>
					{% for word in category %}
						<li>
							<span class="korean"> {{ word[0] }} </span>
							<span class="russian"> {{ word[1] }} </span>
						</li>
					{% endfor %}
				</ul>
			{% endfor %}

			{% for category in words[3] %} 
				<ul class='word_list'>
					{% for word in category %}
						<li>
							<span class="korean"> {{ word[0] }} </span>
							<span class="russian"> {{ word[1] }} </span>
						</li>
					{% endfor %}
				</ul>
			{% endfor %}


		<div class='call_navigation'> </div>
	</div>
{% endblock %}
