{% extends "main_page.html" %}

{% block words %}
	<div class='top_page'>

	{% set count = namespace(value=0) %}
	{% for i in jso.values() %}
		{% for j in i %}
			{% set count.value = count.value + 1 %}
		{% endfor %}
	{% endfor %}

	
		<h1 class='title_page'> 
			Все слова 
			<sup class="title_page_sup"> {{ count.value }} </sup> 
		</h1>  
		<button id='btn_opacity' class='btn_navigation'> Hide translate </button>
	</div>
	<div class="container">

		<div class="back_for_menu"> </div>
		<div class="navigation">

			<a href="/keyboard">
				<button id='btn_keyword' class='to_page'> Клавиатура </button>
			</a>
			<a href="/tables">
				<button id='btn_keyword' class='to_page'> Таблицы  </button>
			</a>
			<a href="/rules">
				<button id='btn_keyword' class='to_page'> Правила  </button>
			</a>

			<ul class="ul_navigation">
				<li>
						<button class='btn_navigation btn_active' value='Все'> 
							Все	
						</button>
				</li>
				{% for key, value in jso.items() %}
					<li class="list_menu">
						<button class='btn_navigation' value={{ value[0]['general_thema_ru'] }}> 
							{{ value[0]['general_thema_ru'] }}
						</button>
					</li>
				{% endfor %}
			</ul>

		</div>

			<ul class='word_list list_active'>
				{% for key, val in jso.items() %}
					{% for word in val %}
						<li>
							<span class="korean"> {{ word.original }} </span>
							<span class="russian"> {{ word.translate }} </span>
						</li>
					{% endfor %}
			{% endfor %}
			</ul>

			{% for key, val in jso.items() %}
			<ul class='word_list'>
					{% for word in val %}
						<li>
							<span class="korean"> {{ word.original }} </span>
							<span class="russian"> {{ word.translate }} </span>
						</li>
					{% endfor %}
			</ul>
			{% endfor %}


		<div class='call_navigation'> </div>
	</div>
{% endblock %}
